/*Colors for Backgrounds*/
$main-bg-color: #fff3db;
$sub-gb-color: #FFF;

$main-text-color: #0f2525;
$sub-text-color: #ffffff;

$sub-bg-color: #EEE;
$img-filler: #808080;

/*Colors for Texts*/
$dark-text: #000;
$light-text: #FFF;

/*Colors for Accents*/
$accent-color: #e8554b;
$sub-accent: #FFF;
$grade-color: yellow;
$white: #ffffff;