@font-face {
    font-family: 'Raleway';
    src: url('@/assets/scss/fonts/Raleway/Raleway-VariableFont_wght.ttf');
}

@font-face {
    font-family: 'Roboto Regular';
    src: url('@/assets/scss/fonts/Roboto/Roboto-Regular.ttf');
}

@font-face {
    font-family: 'Roboto Medium';
    src: url('@/assets/scss/fonts/Roboto/Roboto-Medium.ttf');
}

@font-face {
    font-family: 'Roboto Bold';
    src: url('@/assets/scss/fonts/Roboto/Roboto-Bold.ttf');
}

@font-face {
    font-family: 'Roboto Black';
    src: url('@/assets/scss/fonts/Roboto/Roboto-Black.ttf');
}

@font-face {
    font-family: 'Inter';
    src: url('@/assets/scss/fonts/Inter/Inter-VariableFont_slnt,wght.ttf');
}

@font-face {
    font-family: "Josefin Sans";
    src: url('@/assets/scss/fonts/Josefin_Sans/JosefinSans-VariableFont_wght.ttf');
}

@font-face {
    font-family: "Montserrat";
    src: url('@/assets/scss/fonts/Montserrat/Montserrat-VariableFont_wght.ttf');
}
